In [1]:
lower= int(input("enter a numbers"))
upper= int(input("enter a numbers"))

for i in range(lower,upper+1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

enter a numbers 0
enter a numbers 10

0
1
2
3
5
7

In [2]:
a=0
b=1
print(a)
print(b)
for i in range(10):
    c=a+b
    print(c)
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34
55
89

In [1]:
user_input=int(input('enter a number : '))
fact= 1
for i in range(1, user_input+1):
    fact= fact* i
print(fact)

enter a number :  5

120

In [2]:
"'nilesh' i am boy"

"'nilesh' i am boy"

In [4]:
n= "i am nilesh"
print(n[5])

n

In [8]:
print(n[:])

i am nilesh

In [9]:
print(n[0:5])

i am

In [14]:
annual_salary= int(input("enter a number; ")) 
print(f"annual_salary is= ", annual_salary )

if annual_salary <= 500000:
    total_tex= annual_salary * 0
    net_salary= annual_salary - total_tex
    print("net_salary is= ", net_salary)

elif annual_salary <= 1000000:
    total_tex = annual_salry * 0.10
    net_salary= annual_salary - total_tex
    print("net_salary is =", net_salary)

elif annual_salary <=2000000:
    total_tex = annual_salry * 0.20
    net_salary= annual_salary - total_tex
    print("net_salary is =", net_salary)

elif annual_salary >=2000001:
    total_tex = annual_salry * 0.30
    net_salary= annual_salary - total_tex
    print("net_salary is =", net_salary)
else:
    print("in-valid operation")
    
ctc= annual_salary * 0.10
print("ctc is= ", ctc)

da = annual_salary * 0.05
print("da is= ", da)

pf = annual_salary *0.03
print("da is = ", pf)

monthly_salary= annual_salary/ 12
print("monthly_salary is=",monthly_salary)

enter a number;  354534

annual_salary is=  354534
net_salary is=  354534
ctc is=  35453.4
da is=  17726.7
da is =  10636.02
monthly_salary is= 29544.5

In [17]:
a= int(input("enter a first angle: "))
b= int(input("enter a second angle: "))
c= int(input("enter a third angle: "))

if a+b+c==180:
    print("this is perfact to make a triangle: " )
else:
    print("anothor is not a making perfact triangle")

enter a first angle:  120
enter a second angle:  50
enter a third angle:  50

anothor is not a making perfact triangle

In [22]:
cost_price= int(input("enter a cost price: "))
selling_price = int(input("enter selling_price: "))

if cost_price > selling_price:
    print("bussiness making a  profit: ", cost_price - selling_price)
else:
    print("othorwia bussiness is making a loss: ",cost_price - selling_price)

enter a cost price:  1000
enter selling_price:  2000

othorwia bussiness is making a loss:  -1000

In [33]:
operation = ("""
1.cm to ft cinversion
2.km to miles conversion
3.usd to inr convertion
4.exit""")

user_choise= int(input([1,2,3,4]))

if user_choise == 1:
    user= int(input("enter a cm number"))
    ft=  user / 30.48
    print("ft is = ", ft)
    
elif user_choise == 2:
    user= int(input("enter a km number"))
    miles=  user * 1.60
    print("miles is = ", miles)    

elif user_choise == 3:
    user= int(input("enter a usd number"))
    inr=  user * 83
    print("inr is = ", inr) 

elif user_choise == 4:
    print("exit")
    
else:
    print("in-valid operation")

[1, 2, 3, 4] 5

in-valid operation

In [37]:
operation = """
1. cm to ft conversion
2. km to miles conversion
3. usd to inr conversion
4. exit
"""

while True:
    print(operation)
    user_choice = int(input("Enter your choice (1-4): "))

    if user_choice == 1:
        user = float(input("Enter a cm number: "))
        ft = user / 30.48
        print("Feet =", ft)

    elif user_choice == 2:
        user = float(input("Enter a km number: "))
        miles = user * 0.621371  
        print("Miles =", miles)

    elif user_choice == 3:
        user = float(input("Enter a USD amount: "))
        inr = user * 83 
        print("INR =", inr)

    elif user_choice == 4:
        print("Exiting program...")
        break

    else:
        print("Invalid choice, please try again.")

1. cm to ft conversion
2. km to miles conversion
3. usd to inr conversion
4. exit

Enter your choice (1-4):  1
Enter a cm number:  150

Feet = 4.921259842519685

1. cm to ft conversion
2. km to miles conversion
3. usd to inr conversion
4. exit

Enter your choice (1-4):  4

Exiting program...

In [38]:
a,b= 0,1
print(a)
print(b)
tem=1

for i in range(10):
    c=a+b
    print(c)
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34
55
89

In [39]:
n= int(input("enter a number  : "))
fact= 1
for i in range(1,n+1):
    fact= fact * i
    print(fact)

enter a number  :  5

1
2
6
24
120

In [53]:
name= ("nilesh")
reverse =(name[::-1])
print(reverse)

hselin

In [5]:
n= int(input("enter a number: "))
rev = 0

while n > 0:
     digit = n % 10
     rev = rev * 10 + digit
     n= n // 10

print("reversd numbers : ", rev)

enter a number:  123

reversd numbers :  321

In [53]:
index= [1,4,9,16,25,36,49,64,81,100]
s=0
for i in index:
    s=s+i
print(s)

385

In [3]:
num = int(input("enter a number : "))
rev = 0

while num > 0:
    digit = num % 10       
    rev = rev * 10 + digit 
    num = num // 10        

print("Reversed number:", rev)

enter a number :  123

Reversed number: 321

In [1]:
n=64684
n

64684

In [2]:
# creating the dictionary
mydict={}
mydict1=dict()
print(type(mydict))
print(type(mydict1))

<class 'dict'>
<class 'dict'>

In [3]:
# creating a dictionaary with key value pairs
student = { 'name':'nilesh',
          'age': 22,
          'course':'fsds',
          'marks':100
          }
print(type(student))
print(student)

<class 'dict'>
{'name': 'nilesh', 'age': 22, 'course': 'fsds', 'marks': 100}

In [4]:
len(student)

4

In [5]:
print(student['name'])
print(student['course'])

nilesh
fsds

In [7]:
print(student['lastname'])

KeyError: 'lastname'

In [8]:
print(student.get('lastname'))

None

In [9]:
student['age']=50
student['city']='surat'
print(student)

{'name': 'nilesh', 'age': 50, 'course': 'fsds', 'marks': 100, 'city': 'surat'}

In [10]:
student.pop('marks')
print(student)

{'name': 'nilesh', 'age': 50, 'course': 'fsds', 'city': 'surat'}

# dictionary methosd

In [11]:
# using the get method
print(student.get('name'))
print(student.get('grade'))

nilesh
None

In [12]:
# using the .keys() method
print(student.keys())

dict_keys(['name', 'age', 'course', 'city'])

In [13]:
# using the .vlues() method
print(student.values())

dict_values(['nilesh', 50, 'fsds', 'surat'])

In [14]:
# using the .items() method
print(student.items())

dict_items([('name', 'nilesh'), ('age', 50), ('course', 'fsds'), ('city', 'surat')])

In [23]:
# using the .update() method
student.update({'garade': 'A','year':2025})
print(student)

# in dictionary is not directly print function is not working in single 
#line and it give None that becuase we using the first update the dicctionary and 
# and than print using than well be printed

{'name': 'nilesh', 'age': 50, 'course': 'fsds', 'city': 'surat', 'garade': 'A', 'year': 2025}

In [24]:
student.pop('year')

2025

In [25]:
student

{'name': 'nilesh', 'age': 50, 'course': 'fsds', 'city': 'surat', 'garade': 'A'}

In [26]:
removed=student.pop('lastname')
print(removed)
print(student)

KeyError: 'lastname'

In [27]:
# bydifual is taking the last element of the dictionary

student.popitem()
print(student)

{'name': 'nilesh', 'age': 50, 'course': 'fsds', 'city': 'surat'}

In [28]:
student1=student.copy()
print('student:',student)
print('copy of the last student:' , student1)

student: {'name': 'nilesh', 'age': 50, 'course': 'fsds', 'city': 'surat'}
copy of the last student: {'name': 'nilesh', 'age': 50, 'course': 'fsds', 'city': 'surat'}

In [30]:
temp= {'a':1, 'b':2}
print(temp)

{'a': 1, 'b': 2}

In [31]:
temp.clear()

In [32]:
temp

{}

In [34]:
key=['name','age','course']
newdict= dict.fromkeys(key,None)
print(newdict)

{'name': None, 'age': None, 'course': None}

# loops through dictionary

In [36]:
for key in student:
    print(key)

name
age
course
city

In [39]:
for value in student.values():
    print(value)

nilesh
50
fsds
surat

In [41]:
for key , value in student.items():
    print(key,"-",value)

name - nilesh
age - 50
course - fsds
city - surat

# dictionary comprehension

In [42]:
squres={x:x**2 for x in range(1,6)}
print(squres)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [47]:
n=int(input("enter a number: "))
for i in range(n+1):
    n=i**2
print(n)

enter a number:  5

25

# nested dictionary

In [49]:
student={
    'student1':{'name':'nilesh','subject':'fsds'},
    'student2':{'name':'nilu','subject':'data analyst'}
}

print(student['student1'])
print(student['student2'])

print(student['student1']['name'])
print(student['student2']['name'])

{'name': 'nilesh', 'subject': 'fsds'}
{'name': 'nilu', 'subject': 'data analyst'}
nilesh
nilu